<ion-view view-title="Account Login" style="background-color:#B22222;" name="login-view">
    <div style="position:fixed; top:2%; width:100%;">
        <h2 class="techm_h">Login here</h2>
        <!-- <i class="ion-arrow-left-c back_icon" ng-click="cancelGame()"></i> -->
        <i class="ion-arrow-left-c back_icon" ui-sref="tab.home"></i>
        <!-- <button ng-click = "createFile()">ASDGFASDGASDG</button> -->
    </div>
    <ion-content style="height:90%;top:10%;">

      <div class="login-field">
        <div class="list list-inset" >
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="data.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="data.password">
            </label>
        </div>
        <button class="button button-block button-calm"ng-click="login()">Login</button>
      </div>
        <h2 class="techm_h">Got no account?</h2>
        <button class="button button-block button-calm" ui-sref="tab.register">Register here!</button>


    </ion-content>

</ion-view>
