<ion-view view-title="Account Login" style="background-color:#B22222;" name="login-view">
    <div style="position:fixed; top:2%; width:100%;">
        <h2 class="techm_h">LOGIN now or REGISTER asap</h2>
        <!-- <i class="ion-arrow-left-c back_icon" ng-click="cancelGame()"></i> -->
        <i class="ion-arrow-left-c back_icon" ui-sref="tab.home"></i>
        <!-- <button ng-click = "createFile()">ASDGFASDGASDG</button> -->
    </div>
    <ion-content style="height:90%;top:10%;">
        <h2 class="techm_h"><b>Register!</b></h2>
        <div class="register-field">
            <form ng-submit="vm.onSubmit()">
                <div class="list list-inset" >
                    <label class="item item-input">
                        <input id="firstName" type="text" class="form-control" name="firstName" value="" placeholder="firstName" ng-model="vm.credentials.firstName">
                    </label>
                    <label class="item item-input">
                        <input id="lastName" type="text" class="form-control" name="lastName" value="" placeholder="lastName" ng-model="vm.credentials.lastName">
                    </label>
                    <label class="item item-input">
                        <input id="email" type="email" class="form-control" name="email" value="" placeholder="email" ng-model="vm.credentials.email">
                    </label>
                    <label class="item item-input">
                        <input id="username" type="text" class="form-control" name="userName" value="" placeholder="UserName" ng-model="vm.credentials.userName">
                    </label>
                    <label class="item item-input">
                        <input id="password" type="password" class="form-control" name="password" value="" placeholder="password" ng-model="vm.credentials.password">
                    </label>
                    <label class="item item-input">
                        <input id="passwordrep" type="password" class="form-control" name="passwordrep" value="" placeholder="password repeat" ng-model="vm.credentials.password2">
                    </label>
                </div>
                <button type="submit" class="button button-block button-calm">Register!</button>
            </form>
        </div>

    </ion-content>

</ion-view>
