<ion-view view-title="Account Profile" style="background-color:#7FFF00;" name="profile-view">
    <div style="position:fixed; top:2%; width:100%;">
        <h2 class="techm_h">Profile</h2>
        <!-- <i class="ion-arrow-left-c back_icon" ng-click="cancelGame()"></i> -->
        <i class="ion-arrow-left-c back_icon" ng-click="getBack()"></i>
        <i class="button button-balanced icon ion-home button-fab button-fab-top-right" ng-click="logout()"></i>
    </div>
    <ion-content style="height:90%;top:10%;">

      <div>
        <h1>info text für Profileseite</h1>
      </div>


      <div class="userInfo">
          <h3>{{user_name}}</h3>
          <p>{{user_email}}</p>

          <h4>{{'base_info' | translate}}</h4>
          <p>{{user_base}}</p>

          <h4>{{'user_stats' | translate}}</h4>
          <p>{{userstats}}</p>
      </div>

      <div class="forTesting">
        <label class="testlabel">
            <input type="text" placeholder="write Name" ng-model="data.editUsername">
        </label>
      </div>

            <button id="btnedit" class="button button-balanced icon ion-edit button-fab button-fab-top-right" ng-click="profileEdit(data.editUsername, 'username')">
    </ion-content>



</ion-view>
