<ion-view view-title="After Login Menu">
    <ion-content  style = "background-color:#80DEEA; height:100%; width:100%; posisiton: absolute;"> <!-- position??? -->
        <!-- New Home menu -->
        <div class = "person-type" style = "background-color:#80DEEA; height:100%; width:100%; posisiton: absolute;">

            <!-- NEW: acclogin button on 1st home page -->
            <a ui-sref="tab.account-view">
                <div  class="profilviewer">
                    <div class="type-picture">
                        <div class="info" ui-sref="tab.account-view">
                            <h2>{{'view_profile_after_login' | translate}}</h2>
                        </div>
                        <!-- <button class="button button-fab next button-calm icon ion-map waves-effect waves-button waves-light"
                               ui-sref="tab.acclogin"></button>  -->
                    </div>
                </div>
            </a>


            <a ui-sref="tab.avgames">
                <div class="player">
                    <div class="type-picture">
                        <div class="info" ui-sref="tab.avgames">
                            <h2>{{'play_game_after_login' | translate}}</h2>
                        </div>
                        <!-- <button class="button button-fab next button-calm icon ion-map waves-effect waves-button waves-light"
                               ui-sref="tab.avgames"></button>  -->
                    </div>
                </div>
            </a>


            <a ui-sref="tab.teachmenu">
                <div  class="teacher">
                    <div class="type-picture">
                        <div class="info" ui-sref="tab.teachmenu">
                            <h2>{{'create_game_after_login' | translate}}</h2>
                        </div>
                        <!-- <button class="button button-fab next button-calm icon ion-settings waves-effect waves-button waves-light" ui-sref="tab.teachmenu"></button> -->
                    </div>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>
