<ion-view view-title="App information">
  <ion-content style = "background-color:#80DEEA; height: 100%;">
      <div class = "info-tab">
          <div class="information">
              <i class="icon ion-earth"></i>
              <h1>OriGami - geospatial learning game for kids.</h1>
              <h1 style="font-size:15px;">Created at the Insitute for Geoinformatics Münster</h1>
          </div>
      </div>
      
      <div class="list animate-fade-slide-in-right">
                <a class="item item-avatar item-icon-right waves-effect waves-button waves-dark in done" style="transition-delay: 0.51s;">
                    <img src="./img/av1.jpg">
                    <h2>Aleksandr Shirokov</h2>
                    <p>Master Student at the Institute for Geoinformatics</p>
                    <i class="icon ion-android-mail"></i>
                </a>
                <a class="item item-avatar item-icon-right waves-effect waves-button waves-dark in" style="transition-delay: 0.59s;">
                    <img src="./img/av2.jpg">
                    <h2>Mohammed Imaduddin Humayun </h2>
                    <p>Doctoral candidate at the Institute for Geoinformatics</p>
                    <i class="icon ion-android-mail"></i>
                </a>
                <a class="item item-avatar item-icon-right waves-effect waves-button waves-dark in" style="transition-delay: 0.67s;">
                    <img src="./img/av3.jpg">
                    <h2>Marike Meijer</h2>
                    <p>Bachelor Student at the Institute for Geoinformatics</p>
                    <i class="icon ion-android-mail"></i>
                </a>
            </div>
  </ion-content>
</ion-view>
