<ion-view view-title="{{'play_game' | translate}} - {{}}" cache-view="false">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-clear"></ion-nav-back-button>
    </ion-nav-bar>

    <!-- Information about how to play the game -->
    <script id="gameinfo-modal.html" type="text/ng-template">
        <ion-modal-view>
            <!-- <ion-header-bar class="bar-positive">
                <h1 class="title">{{'game_info' | translate}}</h1>
            </ion-header-bar> -->

            <ion-content style="height: 100%; background-color: #1976D2">
                <div class="plan-route" style="background-color:#3F51B5">
                    <div class="information">
                        <div class="info-icon">
                            <i class="ion-android-map"></i>
                            <!-- <h1>{{'step' | translate}} 1</h1> -->
                        </div>
                        <p>{{'plan_route' | translate}}</p>
                    </div>
                </div>

                <div class="plan-route" style="background-color:#673AB7;">
                    <div class="information">
                        <i class="ion-android-walk"></i>
                        <!-- <h1>{{'step' | translate}} 2</h1> -->
                        <p>{{'start_heading' | translate}}</p>
                    </div>
                </div>

                <div class="plan-route">
                    <div class="information">
                        <i class="ion-happy-outline"></i>
                        <!-- <h1>{{'keep_mind' | translate}} </h1> -->
                        <p>{{'smiley_indicates' | translate}}</p>
                    </div>
                </div>
            </ion-content>

            <ion-footer-bar class="bar-positive" ng-click="modal.remove()" class="title_foot">
                <p class="title">{{'start_playing' | translate}}</p>
            </ion-footer-bar>

        </ion-modal-view>
    </script>

    <!-- Get or show player name -->
    <script id="player-name.html" type="text/ng-template">
        <ion-modal-view>
            <ion-content style="height: 100%; background-color:#64B5F6;">
                <div class="playerNameInput" ng-show="newPlayer == false">
                    <h1> 
                        <span class="nameOuter"> 
                            {{ 'hello'| translate}} <span class="nameInner"> {{player.name}}</span>! 
                        </span>
                        {{ 'player_name_confirm' | translate }} 
                     </h1>
                     <div class="playerNameButtonContainer">
                        <button class="button button-balanced ion-checkmark" ng-click="setPlayerName(player.name); modal.remove()"> </button>
                        <button class="button button-assertive ion-close" ng-click="player.name=null; newPlayer=true"> </button>
                    </div>
                </div>
                <div class="playerNameInput" ng-show="newPlayer==true">
                    <h1>Please enter your name</h1>
                    <div class="list">
                        <div class="item item-input-inset">
                            <label class="item-input-wrapper">
                                <input type="text" placeholder="name" ng-model="player.name">
                            </label>
                        </div>
                    </div>
                     <div class="playerNameButtonContainer">
                         <button class="button button-positive" ng-show="player.name" ng-click="setPlayerName(player.name); modal.remove()"> OK </button>
                     </div>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>


    <!-- Information about the next waypoint -->
    <script id="waypointinfo-modal.html" type="text/ng-template">
        <ion-modal-view>

            <ion-content style="height: 100%; background-color:#64B5F6;">
                <div class="answer_output">
                    <i class="ion-android-pin" ng-hide="waypoint.pic"></i>
                    <div ng-show="waypoint.pic" style="height:50%; width: 61.8%; margin:0 auto 0 auto;">
                        <img ng-src="{{waypointImgURL}}" alt="{{waypoint.pic}}" style="max-width: 100%; max-height:100%">
                    </div>
                    <h1>{{'your_task' | translate}}: {{waypoint.name}}</h1>
                    <p> {{'description' | translate}}: {{waypoint.description}} </p>
                </div>
            </ion-content>

            <ion-footer-bar class="bar-positive" ng-click="modal.remove()">
                <p class="title">{{'continue' | translate}}</p>
            </ion-footer-bar>
        </ion-modal-view>
    </script>


    <!-- Notify when waypoint is reached -->
    <script id="waypoint-reached-modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-content style="height: 100%; background-color:#53DF83;">
                <div class="answer_output">
                    <i class="ion-ribbon-a"></i>
                    <h1>{{congratsMessage}} </h1>

                    <p>{{'goal_reached' | translate}}</p>
                    <p>{{GameData.getConfig('score.waypointCorrect')}} {{'points' | translate}}</p>
                    <p>{{'total' | translate}}: {{score}} {{'points' | translate}}</p>
                </div>
            </ion-content>

            <ion-footer-bar class="bar-positive" ng-click="modal.remove()">
                <p class="title">{{'continue' | translate}}</p>
            </ion-footer-bar>

        </ion-modal-view>
    </script>

    <!-- Game Over Modal -->
    <script id="gameover-modal.html" type="text/ng-template">
        <ion-modal-view style="height:75%; ">
            <ion-content style="height: 100%; background-color:#64B5F6">
                <div class="answer_output">
                   <!-- <img src="./img/icons/Medal.png" /> -->
                    <h1 ng-show="score > 0">{{'congrat' | translate}} {{player.name}}</h1>
                    <h1 ng-hide="score > 0" style="margin-top:10%;">{{'wrong_ans_1' | translate}}</h1>
                    <!-- <p> {{'you_completed' | translate}} </p> -->
                    <p style="font-size:3vh;margin-top:1%;">Your Score: <span style="font-size:3.5vh">{{score}} points</span></p>

                    <div ng-show="score > 0">
                        <!--<p style="font-size:3vh;margin-top:5%;">Add your name to leaderboards</p>-->
                        <!--<div class="lead_name">
                            <input type="text" ng-model="player.name" required>
                            <button id="fab" ng-click="addLeader()" class="button button-positive button-fab" style="background-color:#53DF83;"><i class="icon ion-android-done" style="font-size:3vh;color:#1565C0;"></i></button>
                        </div>-->
                        <p style="font-size:3vh;margin-top:1%;">Leaderboard</p>
                        <!-- Facebook Scharing Button
                    <button id="fab" ng-show="shareButtons" ng-click="shareViaFacebook('I completed OriGami task! ', null, null)" class="button button-positive button-fab" style="background-color:#3b5998"><i class="icon ion-social-facebook" style="color:white"></i></button>-->

                        <div class="leaderboard">
                            <div class="row header">
                                <div class="col">Position</div>
                                <div class="col">Name</div>
                                <div class="col">{{'points' | translate}}</div>
                            </div>
                            <div class="row content" ng-repeat="data in bestPlayers | orderBy:'-points'">
                                <div class="col">{{$index + 1}}</div>
                                <div class="col">{{data.name}}</div>
                                <div class="col">{{data.points}}</div>
                            </div>
                        </div>
                    </div>
                </div>

            </ion-content>
            <div class="exit_butt">
                <button class="button button-block button-balanced save_but" ng-click="modal.remove()">{{'exit' | translate}}</button>
            </div>
        </ion-modal-view>
    </script>


    <!-- Error Modal -->
    <script id="error-modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar-positive">
                <h1 class="title">{{'error' | translate}}</h1>
            </ion-header-bar>

            <ion-content style="height: 100%; background-color:#64B5F6">
                <div class="plan-route" style="background-color:#64B5F6">
                    <div class="information">
                        <i class="ion-alert-circled"></i>
                        <h1>{{'error' | translate}}</h1>
                        <p> {{errorMsg}} </p>
                    </div>
                </div>
            </ion-content>
            <ion-footer-bar class="bar-positive" ng-click="modal.remove()">
                <p class="title">OK</p>
            </ion-footer-bar>

        </ion-modal-view>
    </script>

    <!-- Georefencing Game Modal -->
    <script id="georef-modal.html" type="text/ng-template">
        <ion-modal-view>
            <!--  <ion-header-bar class="bar-positive">
                <h1 class="title">{{'geo_refer' | translate}}</h1>
            </ion-header-bar>  -->
            <ion-content style="height: 100%;background-color:#64B5F6;">
                <div class="georef_game">
                    <img style="max-width:50%; width:50%; max-height:100%;" ng-src="{{geoRefPhoto}}">
                    <div class="georef_instr">
                        <div class="content">
                            <h1>{{'geo_refer' | translate}}</h1>

                            <p>{{'picture_taken' | translate}}</p>
                            <div class="georef_icon">
                                <i class="ion-ios-arrow-left"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-content>
            <ion-footer-bar class="bar-positive" ng-click="modal.remove()">
                <p class="title">OK</p>
            </ion-footer-bar>
        </ion-modal-view>
    </script>

    <!-- Georefencing result Modal -->
    <script id="georef-result-modal.html" type="text/ng-template">
        <ion-modal-view>
            <!-- <ion-header-bar class="bar-positive">
                <h1 class="title">{{'geo_refer' | translate}}</h1>
            </ion-header-bar> -->

            <ion-content style="height: 100%; background-color:#64B5F6">
                <div class="plan-route" style="background-color:#64B5F6">
                    <div class="geor_result">
                        <!--<i class="ion-images"></i> -->
                        <div class="feedback-icon {{georefSmiley}}"></div>
                        <p>Distance to original location {{georefDistance}} metres</p>
                        <p ng-hide="geoResult">{{GameData.getConfig('score.georefIncorrect')}} {{'points' | translate}}</p>
                        <h2 ng-show="geoResult">{{GameData.getConfig('score.georefCorrect')}} {{'points' | translate}}</h2>
                    </div>
                </div>
            </ion-content>
            <ion-footer-bar class="bar-positive" ng-click="modal.remove()">
                <p class="title">OK</p>
            </ion-footer-bar>
        </ion-modal-view>
    </script>


    <!-- QA  Game Modal -->
    <script id="qa-modal.html" type="text/ng-template">
        <ion-modal-view style="padding: 0; margin:0; dispay:block; background-color:#64B5F6; ">
            <ion-content style="height: 100%; width:100%;">
                <div class="qa_question" ng-class="{right_ans: answer == true,wrong_ans: answer == false}">
                    <div class="skillbar clearfix">
                        <div class="skillbar-bar"  timer-progressbar="timeLeft"></div>
                    </div>
                    <h1 class="description">{{'answer_instruction' | translate}}</h1>
                    <ori-qa type="question" qadata="task.question"> </ori-qa>
                    <button id="fab" ng-show="answerPicked" ng-click="showOutput();modal.remove()" class="button button-positive button-fab" style="background-color:#FFFF00"><i class="icon ion-arrow-right-c" style="color:#1565C0"></i></button>
                </div>
                <div class="qa_answers">
                    <div class="answer1" ng-click="chooseAnswer(task.answers[0], 0);timeLeft = -1" ng-class="{'clicked_answ': clicked[0]}">
                        <ori-qa type="answer" qadata="task.answers[0]"></ori-qa>
                    </div>
                    <div class="answer2" ng-click="chooseAnswer(task.answers[1], 1);timeLeft = -1" ng-class="{'clicked_answ': clicked[1]}">
                        <ori-qa type="answer" qadata="task.answers[1]"></ori-qa>
                    </div>
                    <div class="answer3" ng-click="chooseAnswer(task.answers[2], 2);timeLeft = -1" ng-class="{'clicked_answ': clicked[2]}">
                        <ori-qa type="answer" qadata="task.answers[2]"></ori-qa>
                    </div>
                    <div class="answer4" ng-click="chooseAnswer(task.answers[3], 3);timeLeft = -1" ng-class="{'clicked_answ': clicked[3]}">
                        <ori-qa type="answer" qadata="task.answers[3]"></ori-qa>
                    </div>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>

    <!-- QA result Modal -->
    <script id="qa-result-modal.html" type="text/ng-template" class="qa_font">
        <ion-modal-view style="padding: 0; margin:0; dispay:block; background-color: #64B5F6;">
            <ion-content style="height: 100%; width:100%;" ng-class="{right_ans: answer == true,clicked_answ: answer == false}">
                <div class="answer_output">
                    <i class="{{icon}}"></i>
                    <h1>{{answerResult}}</h1>
                    <p ng-show="!answer && !nonTextAnswer">{{'right_answer' | translate}}: {{rightAnswer.txt}}</p>
                    <div ng-show="!answer && nonTextAnswer" style='max-width:40%; max-height:40%; margin: 0 auto 0 auto;'>
                        <p>{{'right_answer' | translate}}</p>
                        <img ng-show="!answer && nonTextAnswer" ng-src="{{imgRightAnswerURL}}" style='max-width:100%; max-height:100%'>
                    </div>
                    <p ng-hide="answer">{{GameData.getConfig('score.answerIncorrect')}} {{'points' | translate}}</p>
                    <p ng-show="answer">{{GameData.getConfig('score.answerCorrect')}} {{'points' | translate}}</p>
                    <p>{{'total' | translate}}: {{score}} {{'points' | translate}}</p>
                </div>
            </ion-content>

            <ion-footer-bar class="bar-positive" ng-click="modal.hide()">
                <p class="title">{{'continue' | translate}}</p>
            </ion-footer-bar>

        </ion-modal-view>
    </script>


    <div class="bar bar-subheader bar-assertive" ng-show="showInfo" class="ng-show">
        <h2 class="title">{{subHeaderInfo}}</h2>
    </div>

    <ion-content scroll=false data-tap-disabled="true">
        <div class="map-container" ng-controller="StudentMapCtrl">
            <div id="map">
                <leaflet defaults="map.defaults" layers="map.layers" center="map.center" paths="map.paths" markers="map.markers" event-broadcast="map.events" ng-if="map"></leaflet>
            </div>
            <div id="smiley" class="smiley">
                <canvas class="smiley" smiley></canvas>
                <img class="bearing" src="../img/bearing.png" alt="ARROW" style="transform: rotate({{bearing}}deg)">
            </div>
            <div id="button-container">
                <!--Button to display modal with waypoint info (hide during georeferencing task) -->
                <button class="button button-fab map-button next {{geoLocButtonColor}} icon ion-information waves-effect waves-button waves-light" ng-click="showWaypointInfoModal()" ng-hide="task.type == 'GeoReference'"></button>
                <!--Button to display modal georeferencing question -->
                <button class="button button-fab map-button next {{geoLocButtonColor}} icon ion-help waves-effect waves-button waves-light" ng-click="performGeoReferencingTask()" ng-show="task.type == 'GeoReference'"></button>
                <!--Button to dislpay player's position on map as icon. Icon is hidden after 5 seconds -->
                <button class="button button-fab map-button {{playerMarkerButtonColor}} icon ion-pin waves-button waves-light" ng-click="showPositionMarker()"></button>
                <!--Button to center map with geolocation information. Map panning is disabled as long as this button is active -->
                <button class="button button-fab map-button next {{geoLocButtonColor}} icon ion-android-locate waves-effect waves-button waves-light" ng-hide="geolocationAlwaysOn" ng-click="toggleGeoLocation(true)"></button>
            </div>
        </div>
    </ion-content>

</ion-view>