<ion-view view-title="Account View" style="background-color:#B22222;">
    <div style="position:fixed; top:2%; width:100%;">
        <h2 class="techm_h">Your Profile</h2>
        <!-- <i class="ion-arrow-left-c back_icon" ng-click="cancelGame()"></i> -->
        <i class="ion-arrow-left-c back_icon" ui-sref="tab.afterlogin"></i>
        <!-- <button ng-click = "createFile()">ASDGFASDGASDG</button> -->
    </div>
    <ion-content style="height:90%;top:10%;">

        <!--
        Login:
        https://devdactic.com/simple-login-example-with-ionic-and-angularjs/

        Register&Login:
        http://jasonwatmore.com/post/2015/03/10/angularjs-user-registration-and-login-example-tutorial

         ... with PHP
        http://www.arjunsk.com/html5/how-to-setup-loginregister-using-ionic-cordova-part-5/


        ionic:
        https://ionicframework.com/docs/api/directive/ionTabs/
         -->

        <p>Vorname:</p>
        <p>Nachname:</p>
        <p>other data:</p>
        <p>other data:</p>
        <p>other data:</p>


    </ion-content>



</ion-view>
