<ion-view cache-view="false" align-title="center" style="background-color:#53DF83;" view-title="Created Games">
    <div style="position:fixed; top:2%; width:100%;">
        <h2 class="techm_h">Created Games</h2>
        <i class="ion-arrow-left-c back_icon" ng-click="cancelGame()"></i>
        <i class="ion-plus-round newgame_icon" ng-click="startGameCreation()" ui-sref="tab.creategame"></i>
    </div>
    <ion-content style="height:90%;top:10%;">
        <!-- Display error message if http request fails to fetch games -->
       <div class="padding ui-feedback" ng-show="error_msg != null">
            <div class="ui-feedback-icon">
                <i class="ion-wifi"></i>
            </div>
            <div class="ui-feedback-message">{{error_msg}}</div>
        </div>

        <div class="list card download_tiles" ng-repeat="item in list | orderBy:'name' ">
            <a>
                <div class="item game-desc">
                    <h2>{{item.name}}</h2>
                    <p>{{item.description}}</p>
                    <div class="techm_diffc">
                        <i class={{item.diff[0]}} style="font-size:2vh;color:#03A9F4;"></i>
                        <i class={{item.diff[1]}} style="font-size:2.5vh;color:#03A9F4;"></i>
                        <i class={{item.diff[2]}} style="font-size:3vh;color:#2196F3;"></i>
                        <i class={{item.diff[3]}} style="font-size:3.5vh;color:#2196F3;"></i>
                        <i class={{item.diff[4]}} style="font-size:4vh;color:#2196F3;"></i>
                    </div>

                    <!-- <div style="position:absolute;right:2%; top:10%;">
                        <button class="button button-fab button-positive icon ion-ios-cloud-download waves-effect waves-button waves-light" style=" background:#E91E63; font-size:40px;"></button>
                    </div> -->
                </div>
                <div class="item item-body teachm_menu">
                    <div class="teachm_b" ng-click="deleteItem(item,'{{item.name}}')">DELETE</div>
                    <div class="teachm_b" ui-sref="tab.newgame" ng-click="editItem(item)">EDIT</div>
                </div>
            </a>
        </div>
        <div class="card">
            <div class="item item-text-wrap" ng-show="noData">
                <span>
            There are no games created at the moment.
         </span>
            </div>
        </div>
    </ion-content>
</ion-view>