<ion-slide-box ng-init="disableSwipe()" on-slide-changed="slideHasChanged($index)">

    <!-- Step 1:  General Information -->
    <ion-slide>
        <div class="page_maininfo">
            <div class="step_done" ng-show="done.main_info"><img src="../img/icons/work-done.svg"></div>
            <div class="page_content">
                <div class="content">
                    <h2>New game</h2>
                    <p style="font-size:3vh;">Step1: General Information</p>
                    <div class="main_info">
                        <div class="row">
                            <span class="input-label">{{'game_title' | translate}}</span>
                            <input ng-class = "{empty_field: emptyFields[0]}"  type="text" ng-model="newgame.name" required>
                        </div>
                        <div class="row">
                            <span class="input-label">{{'game_description' | translate}}</span>
                            <textarea rows="4" ng-class = "{empty_field: emptyFields[1]}" ng-model="newgame.description" required> </textarea>
                        </div>
                        <div class="row">
                            <span>{{'time_compl' | translate}}</span>
                            <input type="text" ng-class = "{empty_field: emptyFields[2]}" class="input_time" ng-model="newgame.timecompl" required>
                        </div>
                        <div class="row_diff row">
                            <div class="diff_rate">
                                <div class="diff_title">
                                    <span> {{'difficulty' | translate}}</span>
                                </div>
                                <span>
                                   <a ng-click = "rateGame(0)">
                                       <i class = {{diff[0]}} style="font-size:2em;color:#FFEB3B;"></i>
                                   </a>
                                   <a ng-click = "rateGame(1)">
                                       <i class = {{diff[1]}} style="font-size:2em;color:#FFEB3B;"></i>
                                   </a>
                                   <a ng-click = "rateGame(2)">
                                       <i class = {{diff[2]}} style="font-size:2em;color:#FFEB3B;"></i>
                                   </a>
                                   <a ng-click = "rateGame(3)">
                                       <i class = {{diff[3]}} style="font-size:2em;color:#FFEB3B;"></i>
                                   </a>
                                   <a ng-click = "rateGame(4)">
                                       <i class = {{diff[4]}} style="font-size:2em;color:#FFEB3B;"></i>
                                   </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Navigation buttons -->
            <div class="page_menu">
                <div class="navi">
                    <button class="button button_navi" ng-click="slideTo(1)">
                        Continue
                    </button>
                    <a class="stop_b" ng-click="stopCreation()"><p>BACK</p></a>
                </div>
            </div>
        </div>
    </ion-slide>

    <!-- Step 2: Choosing the right activity -->
    <ion-slide>
        <div class="page_maininfo page2">
            <!-- <div class="step_done" ng-show="done.act_type"><img src="./img/icons/work-done.svg"></div> -->
            <div class="page_content">
                <div class="content">
                    <h2 style="color:white;">New game</h2>
                    <p style="color:white;font-size:3vh;"><span>Step 2:</span> Choose Activity Type</p>
                    <div class="act_conts">
                        <div class="act">
                            <a ng-click="chooseActType(1)">
                                <div class="act_cont" ng-class="{isChoosen: act_type == 1}">
                                    <div class="dest_route">
                                        <div style="margin-bottom:25px;">
                                            <p>Find Destination</p>
                                        </div>
                                        <div><img src="./img/icons/dest.svg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="act">
                            <a ng-click="chooseActType(2)">
                                <div class="act_cont" ng-class="{isChoosen: act_type == 2}">
                                    <div class="dest_route">
                                        <div style="margin-bottom:25px;">
                                            <p>Follow Route</p>
                                        </div>
                                        <!-- <div style = "margin-bottom:25px;"><p style="font-size:2vh;">Students will follow the route, consisting of several points</p></div> -->
                                        <div><img src="./img/icons/route.svg"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Navigation buttons -->
                <div class="page_menu">
                    <div class="navi">
                        <button class="button button_navi" ng-click="addActivity(); slideTo(2)">
                            Continue
                        </button>
                        <a class="stop_b" ng-click="stopCreation()"><p>STOP</p></a>
                    </div>
                </div>
            </div>
        </div>
    </ion-slide>


    <!-- Step 3: Adding Activity Points -->
    <ion-slide>
        <div class="page_maininfo page3">
            <div class="page_content">
                <div class="content">
                    <h2 style="color:white;">New game</h2>
                    <p style="color:white;font-size:3vh;"><span>Step 3:</span> Add points to the map</p>
                    <div class="content_map" data-tap-disabled="true">
                        <leaflet defaults="mainMap.defaults" layers="mainMap.layers" center="mainMap.center" paths="mainMap.paths" markers="mainMap.markers" geojson="mainMap.geojson" ng-if="mainMap"></leaflet>
                    </div>
                </div>
            </div>
            <div class="page_menu" ng-hide="allFilled[2]">
                <div class="navi">
                    <button class="button button_navi" ng-click="addActPoints(); slideTo(3)">
                        Continue
                    </button>
                    <a class="stop_b" ng-click="stopCreation()"><p>STOP</p></a>
                </div>
            </div>
        </div>
    </ion-slide>


    <!-- Slide 4: Choose Task Type -->
    <ion-slide>
        <div class="page_maininfo page4">
            <div class="page_content">
                <div class="content">
                    <h2 style="color:white;"> Great! </h2>
                    <h2 style="color:white;"> Your game {{newgame.name}} is created!  </h2>
                    <div class="crtd_icon"><img src="./img/icons/fireworks.svg"> </div>
                    <div class="final_desc">
                        <p class = "final_info">Your game contains:</p>
                        <p class = "final_info">{{newgame.activities[0].points.length}} waypoints</p>
                        <p class = "final_info">{{numberTask}} tasks</p>

                        <p class = "final_p_info">Maximum reward: {{maxScore}} points</p>
                    </div>
                </div>
            </div>
            <div class="page_menu" ng-hide="allFilled[2]">
                <div class="navi">
                    <button class="button button_navi" ng-click="slideTo(0);finishGame()">
                        Finish
                    </button>
                </div>
            </div>
        </div>
        <a class="stop_b" ng-click="stopCreation()"><p>CANCEL</p></a>
    </ion-slide>

</ion-slide-box>