<ion-modal-view  style="height:75%; " >
    <ion-content class="geor_p" style="background-color:#FCC929;" data-tap-disabled="true">
        <h2>GeoReference Task</h2>
        <p>Place the marker at the position from where the photo was taken</p>
        <div class="photo_div">
            <div class="photo_ic">
                <!--<img class="upl_ph"  ng-src="data:image/jpeg;base64,{{georP.base64}}" ng-hide = "georP == null">-->
                <img ng-src="{{georefPicPrvw}}" ng-show="geoTask.photo">
                <div>
                    <img class="cam_icon" src="./img/icons/camera.svg">
                    <label for="georefPic">Add Photo</label>
                </div>
            </div>
            <input class="btn inputfile" type="file" id="georefPic" ngf-select="imgUpload($file, $event)" accept="image/*">
             <!--<input class="btn inputfile" id="photoPC" type="file" ng-model="file" accept="image/*" onload="onLoadG" base-sixty-four-input>-->
        </div>

        <div class="map_con">
            <leaflet defaults="gameMap.defaults" layers="gameMap.layers" center="gameMap.center" paths="gameMap.paths" geojson="gameMap.geojson" markers = "gameMap.markers"  event-broadcast="gameMap.events"></leaflet>
        </div>

        <div class="navi">
            <button class="button button-block button-balanced save_but" ng-click="submitGR()">{{'save' | translate}}</button>
        </div>
    </ion-content>
     <a class="skip_b" ng-click = "noTask();"><p style="color:white;">CANCEL</p></a>
</ion-modal-view>