<ion-modal-view>
    <ion-content style="height: 100%; background-color: #64B5F6;">
        <div class="tasktp_con">
            <h2>New Task</h2>
            <div class="task_ts">
                <a ng-click="addQAtask()">
                    <div class="task_t quiz_t">
                        <div class="picture"> <img src="./img/icons/Chat-2.png" /></div>
                        <div class="description">
                            <h2>Question - Answer Game</h2></div>
                    </div>
                </a>
                <a ng-click="addGRtask()">
                    <div class="task_t gref_t">
                        <div class="picture"> <img src="./img/icons/Map.png" /></div>
                        <div class="description">
                            <h2>GeoReference Game</h2></div>
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
    <a  class="skip_b" ng-click="modal.remove()"><p>SUBMIT</p></a>
</ion-modal-view>